<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            Chat
        </div>
        <div id="chat-messages">

        </div>
        <form id="input-container">
            <input type="text" name="message" id="messageInput" placeholder="Type a message...">
            <button class="send-button">Send</button>
        </form>
    </div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script>
        var socket = io()
        var message = document.getElementById("messageInput")
        var form = document.getElementById("input-container")
        var chatMessagesContainer = document.getElementById("chat-messages")

        form.addEventListener("submit",(e)=>{
            e.preventDefault()
            if(message.value.trim() != ""){
                socket.emit("message",message.value)
                message.value = ""
            }
            
        })
        socket.on("broadCastMessage",(msg)=>{
            const paragraph = document.createElement("p")
            paragraph.textContent = msg
            chatMessagesContainer.appendChild(paragraph)
        })
    </script>
</body>
</html>